.hide {
    display: none;
}


:root {
    --car-width: 50px;
    --car-height: 100px;
    --game-area-width: 300px;
    --game-area-height: 100vh;
    --line-width: 10px;
    --line-height: 50px;
}

.car, .enemy {
    position: absolute;
    height: var(--car-height);
    width: var(--car-width);
    background: transparent url('../images/player.png') center / cover no-repeat;
    
    left: 125px;
    bottom: 10px;
}

.gameArea {
    width: var(--game-area-width);
    height: var(--game-area-height);
    position: relative;
    margin: auto;
    background: #222;
    overflow: hidden;
}

.line {
    position: absolute;
    width: var(--line-width);
    height: var(--line-height);
    
    left: calc(var(--game-area-width)/2 - var(--line-width)/2);
    background: #fff;
}

.start {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 2rem 0;
    text-align: center; 
    z-index: 200;
    color: #fff;
    font-size: 1.5rem;
    background: black;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 700;
}

.score {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    padding: 1rem 0;
    z-index: 200;
    font-size: 1.5rem;
    color: skyblue;
    text-align: center;
    font-weight: 500;
}

.difMenu {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    padding-top: 88px;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 700;
}

.difMenu a {
    text-decoration: none;
    display: inline-block;
    background:indigo;
    cursor: pointer;
    border-radius: 5px;
    border-color: ivory;
    color: #fff;
    text-align: center;
    width: 33.1%;
    
    
}
.difMenu li {
    display: inline;
    width: 200px;
}

.highScore {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    background:indigo;
    color: #fff;
    font-size: 2rem;
    font-family: sans-serif;
    padding: 20px 30px 20px 30px;
}
